h1,h2,h3 {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
 }
 h3 {
  color: #503291;
  font-size: 20px;
  font-weight: 900;
 }
 
 #coments {
  font-family: "Muli", sans-serif;
  color: #a1a1a1;
  margin: 5px 20px 5px 20px;
 }
 .cardPost {
  display: inline;
  justify-content: center;
  height: 100%;
 }
 .img-avatar {
  border: 2px solid #ffd35b;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 10px 0 0 0;
  max-width: 100px;
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 999;
 }
 .card-body {
  padding: 0;
  overflow: hidden;
  text-align: center;
 }
 .card {
  background: #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 60%;
 }
 .buttonIcon {
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 33%;
 }
 i {
  margin: 20px 0 0 0;
  color: #503291;
  cursor: pointer;
  font-size: 200%;
  padding: 3px;
  transition: all 0.2s;
  width: 100%;
 }
 .icon {
  margin: 20px 0;
  color: #656565;
  font-family: "Muli", sans-serif;
  margin: 0 0 20px 0;
  text-transform: uppercase;
 }
 .fa-smile:hover {
  animation: 1s smile ease-in-out 1;
  transform: scale(1.5);
 }
 .fa-meh:hover {
  animation: 0.9s meh ease-in-out 1;
  transform: scale(1.5) translateY(-2px) rotateZ(0deg);
 }
 .fa-frown:hover {
  animation: 0.5s frown ease-in-out 1;
  opacity: 1;
  transform: scale(1.25);
 }