body{
    text-align: center;
    background-color:   #503291;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
.logIn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#logo {
    width: 10%;
    display: inline;
    margin-top: 5%;   
}
#guanataco {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 36px;
    display: inline;
    align-items: center;
    text-align: center;
    color: #FFD35B;
}
#formLogin{
    margin-top: 30px;
}
.textForm{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #FFD35B;
}
input[type=text] {
    text-align: center;
    width: 50%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=password] {
    text-align: center;
    width: 50%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
.button {
    background-color: #FFD35B; /* Green */
    border: none;
    color: #503291;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  #botonIngresar{
    margin-top: 40px;
  }

  .sinregistrotxt{
      color: white;
      font-family: 'Muli', sans-serif;
      font-weight: 400;
      font-size: 20px;
      border: none;
      cursor: pointer;
  }
  .buttonPink{
    background-color: #D43687;
    border: none;
    color: #FFD35B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin: 15px 2px 100px 0;
    cursor: pointer;
    width: 25%;
    display: inline;
    border: none;
}
#facebook {
    background-color: white ;
    color: #3B5998;
    text-decoration: none;
    margin: 0 15px 0 0;
    padding: 20px;
    cursor: pointer;
}
#google {
    background-color: white ;
    color:#dd4b39;
    text-decoration: none;
    margin: 0 0 0 15px;
    padding: 20px 25px;
    cursor: pointer;
}
#fotoPerfil{
    width: 20%;
    margin: 10px 0 0px 0;
}
#botonRegistrar{
    margin-top: 0;
    margin-bottom: 50px;
}
#textoAccion{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color:#FFD35B;
}
#textoInicio{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin: 50px 200px 50px 200px;
    color:#FFD35B;
}
.nombreUsuario{
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin: 0 0 60px 0;
}
.container {
    color: #503291;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    text-align: center;
    margin: 0 0 0 23%;
}
select, textarea {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;

}
input[type=submit] {
  background-color: #FFD35B;
  color: #503291;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.containerPublicacion{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    text-align: left;
}
#nombreComentario{
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-align: left;
}
.txtComentario{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}
.txtLugar{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}
.comentario{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    margin: 0;
}
.btn-group button {
    background-color: #FFD35B;
    border: 1px solid #f2f2f2;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
  
    border-right: none;
    width: 10%;
}

.btn-group button:hover {
    background-color: #FFD35B;
}


















@media screen and (max-width:900px) {
    .button{
        width: 30%;
        font-size: 12px;
    }
    .buttonPink{
        width: 30%;
        font-size: 12px;
    }
    #logo{
        width: 20%;
    }
    input[type=text]{
        width: 60%;
    }
}